<html>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src= "{{ STATIC_URL }}/static/home.js"type="text/javascript"></script>
    <script src= "{{ STATIC_URL }}/static/home.css"></script>
    
    <head>
    	<title>Class Discuss at UofM</title>
    </head>
    <body>
    	<h1>Class Discuss!</h1>
    	
        <div id="class_finder">
            Choose a subject:
            <input id="subj_selector" type="text" name="subject_input">


        </div>


    </body>
</html>
