<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/black-tie/jquery-ui.css" type="text/css" />
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
        <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js'></script>

        <script src= "{{ STATIC_URL }}/static/home.js" type="text/javascript"></script>
        <link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}/static/home.css" />
    
    	<title>Class Discuss at UofM</title>
    </head>

    <body>
    	
        Hello, {{ name }}


        <div id="classpicker">
            Get started by adding a class you have taken:
            <input type="text" id="departmentname" placeholder="Department Name" class = "unloaded"/>
            <input type="text" id="classnumber" placeholder="Class Number" class = "unloaded"/>
            <div id='classname'></div>
            <br/>
            <div id='classselector'>
                Which instructor did you have?
                <div id='instructorlist'></div>
            </div> 
        </div>
        


    </body>
</html>